<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{% if page.description %}{{ page.description }}{% else %}{{ page.subtitle }}{% endif %}</span>
                    {% if page.date %}<span class="meta">{% if page.author %}{{ page.author }}, {% endif %}{{ page.date | localize: "%d %B %Y, %A %H:%M" }}</span>{% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
