// add your custom styles here...
.pager li>a {
    text-transform: none;
}

address {
    font-size: 12px;
    text-align: center;
    color: #555;
}

.tags {
  span {
    margin-right: 1em;
    font-weight: bold;
  }
  font-size: .85em;
  a {
    margin-right: 1em;
  }
}


@media only screen and (max-width: 767px) {
    .navbar-custom {
        position: fixed;
        background-color: #555;
        border-color: #333;
    }
    .navbar-custom .navbar-toggle {
        border-color: #777;
        border-radius: 0;
    }

    .navbar-custom .navbar-collapse {
        border-color: initial;
    }

    .navbar-custom .navbar-nav>li>a {
        color: white;
        &:hover {
            color: #ddd;
        }
    }
}

@media only screen and (min-width: 1170px){
  .navbar-custom.is-fixed {
    background-color: #555;
    .nav li a {
      color: white;
      &:hover {
       color: #ddd; 
      }
    }
  }
}
